#profile-img {
    width: 250px;
    height: 250px;
    margin-top: 23px;
}

body {
    background: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-size: 100% 500px;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 35px;
}

h5 {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: bold
}

h4 {
    font-weight: bold  
}

.highlights {
    font-family: 'Yeseva One', cursive;
}

.display-4 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Yeseva One', cursive;
    font-weight: bold;
}

.speech-bubble {
	position: relative;
	background: rgba(255, 255, 255, 0.582);
    border-radius: 1em;
    border: 2px solid #b6ded9;
    padding: 20px
}

.speech-bubble:after {
    content: '';
	position: absolute;
	left: 0;
	top: 25%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: rgba(255, 255, 255, 0.582);;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
    margin-left: -20px;
}

.btn {
    background-color: #3a3a3a;
    color: white;
}

.btn:hover{
    background-color: #b6ded9;
    color: white;
}

.box {
    margin: 2px;
    max-width: 80%;
    border-radius: .8em;
    border: 1px solid transparent;
    color: #2a2a2a;
    padding: 10px;
}

.site-img {
    opacity: .6;
}

.site-img:hover {
    opacity: 1;
}

.box:hover {
    background-color: #EFF8F7;
    border: 1px solid #b6ded9;
    margin: 2px;
    opacity: 1;
}

a {
    color: #56989e;
    font-weight: bold;
    font-size: 15px;
}

a:hover {
    color: #366d72;
}

.contact {
    font-family: 'Roboto', sans-serif;
    margin-left: 73%;
    font-size: 13px;
}

.fa-phone {
    margin-left: 15px;
}

.navbar-active {
    color: #2a2a2a;
}

.navbar-link {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxes {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 1%;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid transparent;
    color: #366d72;
    font-weight: bold;
}

.btn-outline:hover {
    background-color: #EFF8F7;
    border: 1px solid #b6ded9;
    font-weight: bold;
}

#other-works {
    margin-bottom: 50px;
    margin-top: 25px;
}

.nav-text {
    left: 70%;
}

.border-img {
    margin-left: 29%;
}